body {
  background-color: #EAF6F6;

}

h1{
  color: #66BFBF
}

h3{
  color: #66BFBF

}

hr{
  background-color: white;
}

table{
 border-collapse: separate; border-spacing: 10px;  /* cellspacing="20" */
}
